*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    position: absolute;
    top: 0;
    left: 40%;
}

#staticCanvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(yellowGreen,black);
    background: rgb(101, 143, 18);
}
#closeupCanvas{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 550px;
    height: 300px;
    border: 1px solid white;
    /* background: yellowgreen; */
}
#clear{
    padding: 6px 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 80px;
    left: 50%;
}
#save{
    padding: 6px 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 80px;
    left: 40%;
}